<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyWPFMagViewer2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MyWPFMagViewer2.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="OctaveScriptFolder" serializeAs="String">
                <value>C:\\Users\\Frank\\Documents\\Octave</value>
            </setting>
            <setting name="OctaveExePath" serializeAs="String">
                <value>C:\\Octave\\Octave-4.0.1\\bin</value>
            </setting>
            <setting name="MagDataFolder" serializeAs="String">
                <value>C:\\Users\\Frank\\Documents\\Octave</value>
            </setting>
        </MyWPFMagViewer2.Properties.Settings>
    </userSettings>
</configuration>